In [0]:
val customers = spark.read.option("header", "true").csv("/data/data.csv")

In [1]:
customers.createOrReplaceTempView("customers")

In [2]:
%sql
select * from customers

In [3]:
%sql
with 
    base_table as (
        select
            company_id
            , customer_id
            , to_date(month, "MMM-y") as date
        from customers),

    last_date_per_company as (
        select
            company_id
            , add_months(max(date), 1) as max_date
        from base_table
        group by 1)

    select
        a.company_id
        , date_format(add_months(a.date, 1), "MMM-yy") as month
        , round(sum(case when (b.date is null and add_months(a.date, 1) != c.max_date) then 1 else 0 end) / count(a.customer_id) * 100, 1) || '%' as churn
    from base_table a
    left join base_table b on a.company_id = b.company_id and a.customer_id = b.customer_id and add_months(a.date, 1) = b.date
    left join last_date_per_company c on a.company_id = c.company_id
    where add_months(a.date, 1) != c.max_date
    group by a.company_id, a.date
    order by company_id, to_date(month, "MMM-y")